body {
font-family: sans-serif;
}

body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4ae70;
text-align: center;
}
.container {
max-width: 480px;
margin: 0 auto;
padding: 20px;
}
h1 {
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}
img {
background: #d9d9d9;
border-radius: 15px;
height: 280px;
width: 480px;
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0 20px;
font-size: 22px;
font-weight: bold;
}

h2{
  text-align: center;
  color: blue;
}
